html {
  scroll-behavior: smooth;
}

/*body {
    font-family:'Times New Roman';
}*/

.font-tnr {
    font-family: 'Times New Roman';
}


.img-custom {
    width: 100%;
    height: auto;
}

.button {
    background-color: #8B0000;
    border: none;
    color: white;
    padding: 10px;
    text-align: center;
    text-decoration: solid;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.button1 {
    border-radius: 12px;
}

.margine {
    margin-bottom: 2px;
}

.progress-container {
    width: 50%;
    height: 8px;
}

.progress-bar {
    height: 8px;
    background: #4caf50;
    width: 0%;
}

.content {
    padding: 5px 0;
    margin: 5px auto 0 auto;
    width: 80%;
}

.btn-top {
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 20px; /* Place the button at the bottom of the page */
    right: 30px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    color: white; /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 15px; /* Some padding */
    border-radius: 10px; /* Rounded corners */
    font-size: 18px; /* Increase font size */
}
